<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<title>Test misskabuApp1</title>
</head>

<body>
	<h1>Hello world!!</h1>
	<p>HTML test</p>
	<p th:text="${msg}">please wait...</p>
	<form method="post" action="/">
		<input type="text" name="text1" th:value="${value}">
		<input type="submit" value="Click">
	</form>
	<form>
		<table th:inline="text">
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>PHONE</th>
			</tr>
			<tr th:each="obj:${data}">
				<td>[[${obj.id}]]</td>
				<td>[[${obj.name}]]</td>
				<td>[[${obj.value}]]</td>
			</tr>
		</table>
	</form>
	
</body>
</html>